.notes h1 {
  color: black;
}

.notes-wh {
  width: 1fr;
  height: 150px;
}
.notes {
  width: 100%;
  height: inherit;
  word-wrap: break-word;
  background-color: tomato !important;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  float: left;
}
.notes p {
  padding-left: 16px;
}
